/* Write your code here. */
.bg-container {
  background-image: linear-gradient(to right, #1d976c, #93f9b9);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .bg-container {
    flex-direction: row;
  }
}
.image {
  width: 240px;
  height: 190px;
}
@media screen and (min-width: 768px) {
  .image {
    width: 380px;
    height: 280px;
    order: 1;
  }
}
.sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
